<div class="Formatação">
    <h1>Bem vindo, para prosseguir informe seu email e senha ou se cadastre</h1>
    <div class="content">
        <form  #data="ngForm" class="form" (submit)="signIn(data.value, password.value)">
            <input type="text" ngModel name="email" placeholder="E-mail">

            <input type="password" #password name="senha" placeholder="Senha">

            <div>
                <button class="b1" type="submit">Login</button>
                <button class ="button2" type="button" (click)="signUp()">Register</button>
            </div>
        </form>
    </div>
</div>
